<%= render 'nav' %>

<% @events.reverse.each do |event| %>
    <%= event.creator.username %>
    <br>
    <span class="text-lg font-bold"><%= link_to event.title, event %></span>
    <br>
    <%= event.description %>
    <br><br>
<% end %>
