<%= @event.title %>
<%= @event.description %>

<h2>Attendees</h2>
<% @event.attendees.reverse.uniq.each do |attendee| %>
    <%= attendee.username %>
<% end %>

<% if @event.creator != current_user%>
    <%= render partial:"join" %>
<% end %>